@import url('https://fonts.googleapis.com/css?family=Scada:700|Scada:400');
:root{
    --text: #eaefed;
    --background: #0e1211;
    --primary: #adbeb9;
    --secondary: #5b495c;
    --accent: #92767b;
}

h1 {font-size: 4.210rem;}

html {font-size: 120%;}

ul{
    text-align: left;
    padding: 0;
}

li{
    margin-left: 10px;
}

.primary_section-box {

    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    background-color: var(--primary);
    text-align: left;
}

.secondary_section-box{
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    background-color: var(--secondary);
    text-align: left;
}

.third_section-box{
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    background-color: var(--accent);
    text-align: left;
}

header {
    padding: 10px 0;
    text-align: center;
}

body {
    text-align: center;
    font-family: 'Scada';
    font-weight: 400;
    background-color: var(--background);
  }
  
  h1, h2, h3, h4, h5 ,form,header,body{
    font-family: 'Scada';
    font-weight: 700;
  }
img{
    max-width: 150px;
}
