@import url('https://fonts.googleapis.com/css?family=Scada:700|Scada:400');/*導入字體*/
:root{
    --text: #eaefed;
    --background: #0e1211;
    --primary: #adbeb9;
    --secondary: #5b495c;
    --accent: #92767b;
}

h1 {font-size: 4.210rem;}/*h1字體大小*/

html {font-size: 120%;}/*主要字體大小*/

ul{
    text-align: left;
    padding: 0;
}

li{
    margin-left: 10px;
}

.primary_section-box {

    border-radius: 5px;/*圓邊*/
    padding: 15px;/*內邊界*/
    margin: 20px auto;/*外邊界*/
    width: 90%;
    max-width: 600px;/*最大寬度*/
    background-color: var(--primary);
    text-align: left;/*靠左對齊*/
}

.secondary_section-box{
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    background-color: var(--secondary);
    text-align: left;
}

.third_section-box{
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    background-color: var(--accent);
    text-align: left;
}

header {
    padding: 10px 0;/*內邊界*/
    text-align: center;/*置中*/
}

body {
    text-align: center;/*置中*/
    font-family: 'Scada';/*字體*/
    font-weight: 400;/*字體粗細*/
    background-color: var(--background);
  }
  
  h1, h2, h3, h4, h5 ,form,header,body{
    font-family: 'Scada';
    font-weight: 700;
  }
img{
    max-width: 150px;/*最大寬度*/
}